@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'League Spartan', sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    align-content: center;
}

.calc__main{
    width: 30rem;
}

.calc__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.theme{
    display: flex;
    align-items: center;
    position: relative;
}

.theme-btn{
    width: 3.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    border-radius: 0.8rem;
    position: relative;
    cursor: pointer;
}

.theme-btn::before{
    content: '';
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    position: absolute;
    top: 0.28rem;
}

.theme-btn>span{
    width: 3.5rem;
    position: absolute;
    right: 0;
    top: -1rem;
    display: flex;
    justify-content: space-evenly;
}

.calc__screen{
    font-size: 3rem;
    height: 4.5rem;
    padding: 2.1rem 2.6rem 2rem;
    margin: 2rem 0rem;
    border-radius: 0.6rem;
    text-align: right;
    word-wrap: break-word;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calc__screen .prev-result{
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.calc__operations{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.calc__operations .key{
    height: 3.5rem;
    padding-top: 0.3rem;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.6rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.calc__operations .key.reset{
    grid-column: 1/3;
}

.calc__operations .key.equal{
    grid-column: 3/5;
}

.attribution {
    font-size: calc(0.7rem + 0.3vw);
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 1vh;
}

.attribution a {
    color: hsl(52, 100%, 62%);
    text-decoration: none;
}


/* THEME 1 */

body.theme1{
    background-color: hsl(222, 26%, 31%);
}

body.theme1 .calc__header{
    color: hsl(0, 0%, 100%);
}

body.theme1 .theme-btn{
    background-color: hsl(223, 31%, 20%);
}

body.theme1 .theme-btn::before{
    background-color: hsl(6, 63%, 50%);
    left: calc(100% - 2.9rem - 0.3rem);
}

body.theme1 .calc__screen{
    background-color: hsl(223, 37%, 15%);
    color: hsl(0, 0%, 100%);
}

body.theme1 .calc__operations{
    background-color: hsl(223, 31%, 20%);
}

body.theme1 .key{
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    box-shadow: 0px 4px 0px 0px hsl(28, 16%, 65%);
}

body.theme1 .calc__operations .key.reset, .calc__operations .key.delete{
    color: hsl(0, 0%, 100%);
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 4px 0px 0px hsl(224, 28%, 35%);
}

body.theme1 .key.equal{
    color: hsl(0, 0%, 100%);
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 4px 0px 0px hsl(6, 70%, 34%);
}


/* THEME 2 */
body.theme2{
    background-color: hsl(0, 0%, 90%);
}

body.theme2 .calc__header{
    color: hsl(198, 20%, 13%);
}

body.theme2 .theme-btn{
    background-color: hsl(0, 5%, 81%);
}

body.theme2 .theme-btn::before{
    background-color: hsl(25, 98%, 40%);
    left: calc(100% - 1.95rem - 0.3rem);
}


body.theme2 .calc__screen{
    background-color: hsl(0, 0%, 93%);
    color: hsl(198, 20%, 13%);
}

body.theme2 .calc__operations{
    background-color: hsl(0, 5%, 81%);
}

body.theme2 .key{
    background-color: hsl(45, 7%, 89%);
    color: hsl(198, 20%, 13%);
    box-shadow: 0px 4px 0px 0px hsl(35, 11%, 61%);
}

body.theme2 .key.delete, body.theme2 .key.reset{
    background-color: hsl(25, 98%, 40%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0px 4px 0px 0px hsl(25, 99%, 27%);
}

body.theme2 .key.equal{
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0px 4px 0px 0px hsl(185, 58%, 25%);
}

body.theme2 .attribution{
    color: hsl(185, 58%, 25%);
}

body.theme2 .attribution a{
    color: hsl(268, 47%, 21%);
}


/* THEME 3 */

body.theme3{
    background-color: hsl(268, 75%, 9%);
}

body.theme3 .calc__header{
    color: hsl(52, 100%, 62%);
}

body.theme3 .theme-btn{
    background-color: hsl(268, 71%, 12%);
}

body.theme3 .theme-btn::before{
    background-color: hsl(176, 100%, 44%);
    left: calc(100% - 0.9rem - 0.3rem);
}

body.theme3 .calc__screen{
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
}

body.theme3 .calc__operations{
    background-color: hsl(268, 71%, 12%);
}

body.theme3 .key{
    background-color: hsl(281, 89%, 26%);
    color: hsl(52, 100%, 62%);
    box-shadow: 0px 4px 0px 0px hsl(285, 91%, 52%);
}

body.theme3 .key.delete, body.theme3 .key.reset{
    background-color: hsl(268, 47%, 21%);
    color: hsl(52, 100%, 62%);
    box-shadow: 0px 4px 0px 0px hsl(290, 70%, 36%);
}

body.theme3 .key.equal{
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0px 4px 0px 0px hsl(177, 92%, 70%);
    color: hsl(198, 20%, 13%);
}


@media screen and (max-width: 520px){
    .calc__main{
        width: 20rem;
    }

    .calc__screen{
        font-size: 1.6rem;
        height: 3rem;
    }

    .calc__screen .prev-result{
        font-size: 1.15rem;
    }

    .calc__operations .key{
        font-size: 1.6rem;
    }
}
